html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: image(pics/ajandek.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.wrap {
    position: relative;
}
.text {
    width: 20%;
    position: absolute;
    justify-content: center;
    left: 40%;
}
p {
    font-size: 24px;
    font-family: 'Gochi Hand', cursive;
    color: white;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}
img {
    width: 100%;
    height: 100%;
    margin: auto;
}
.button-cont {
    position:absolute;
    width: 20%;
    left: 65%;
    top: 0;
    text-align: center;
    padding: 25px;
    
}
.button {
    padding: 10px;
	color: white;
    background: transparent;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
	border: solid 2px white;
    cursor: pointer;
}
.button:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:active {
    margin:2px;
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
font-size: 16px;
padding:10p;
width: 100%;
height: 100%;
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
font-size: 16px;
padding:10px;
width: 100%;
height: 100%;
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
font-size: 16px;
padding:10px;
width: 100%;
height: 100%;
}
